<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Chat <ion-icon name="chatbubbles"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="check">

    <ion-list *ngFor="let userId of chatList">
      <button ion-item (click)="gotoUserChat(userId)">

          <ion-avatar item-start>
            <img [src]="getUserC(userId)?.imgLocation">
          </ion-avatar>

          <h2>{{ getUserC(userId)?.fname }}</h2>

      </button>
    </ion-list>

</ion-content>
