<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ userChat?.fname }}</ion-title>

  </ion-navbar>
</ion-header>


<ion-content #content padding *ngIf="check">
  <ion-grid>
      <ion-row *ngFor="let message of oldMessages">

        <ion-col col-6 nowrap justify-content-start *ngIf="message.sentBy === chatUserId">
            <ion-row >
                <img [src]="userChat?.imgLocation" style="border-radius:50%;height:40px;width:40px;">
                &nbsp;&nbsp;
                <p class="chat-left">{{ message.message }}</p>
            </ion-row>
        </ion-col>

        <ion-col offset-6 col-6 justify-content-end *ngIf="message.sentBy != chatUserId">
              <div style="text-align: right;"><p class="chat-right">{{ message.message }}</p></div>
        </ion-col>

      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="chat_input">
      <ion-col col-9>
        <ion-input [(ngModel)]="message" type="text"></ion-input>
      </ion-col>
      <ion-col col-3 text-right>
        <button ion-button (click)="send()">send</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>