<ion-header>

  <ion-navbar>
    <ion-title text-center>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h4>{{ itemName }}</h4>
    </ion-card-header>
    <ion-card-content>
      Location: {{ itemLocation }}<br>
      Description: {{ itemDescription }}<br><br>

      Posted by: {{ getPosterN()?.fname}}<br><br>
      <ion-card *ngIf="itemImgLocation">
        <p align="center"><img *ngIf="itemImgLocation" style="width:50%;height:50%" src = "{{ itemImgLocation }}"></p>
      </ion-card>
      <button ion-button *ngIf="userOpt" (click)="edit()">Edit</button>
      <button ion-button *ngIf="userOpt" (click)="delete()">Remove</button>

      <button ion-button *ngIf="!userOpt" (click)="alert()">Chat</button>
    </ion-card-content>
  </ion-card>
</ion-content>
