<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="check" padding>
  <h2 text-center>{{ item }}</h2>

    <ion-segment [(ngModel)]="item" color="primaryBlack">
      <ion-segment-button value="Found">
        <ion-icon name="hand"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Lost">
        <ion-icon name="help"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <ion-searchbar [(ngModel)]="searchVal" placeholder="Filter Items with Cancel" showCancelButton color="danger" (ionInput)="filterItems(item)"></ion-searchbar>

    <ion-list style="margin:0" inset>
      <button ion-item detail-none *ngFor="let i of itemName(item)" (click)="getDetails(i)">
        <ion-card padding [color]="getColor(item)">
          Item: {{ i.itemN }} <br>
          Location: {{ i.itemLocation }} <br>
          Description: {{ i.itemDescription }} <br>
        </ion-card>
      </button>
    </ion-list>
</ion-content>