page-signup {

    .back{
        background-color: #4292cd;
    }

    .credentials{
        margin-top: 50px;
    }

    .login-signup{
        border: 1px solid #ffffff;
    }

    .cred-tabs{
        //background-color: #56A0DD;
        border-bottom: 1px solid #fff;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
    }

    .border-right{
        border-right: 1px solid #ccc;
    }

    .active{
        background-color: #56A0DD;
        color: #fff;
    }

    .input-field{
        border-bottom: 1px solid #ccc;
    }

    .btn-design{
        height: 40px!important;
        background-color: #27a3fb;
    }
}
